.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.container {
  display: flex;
  justify-content: center;
}

.options-block {
  padding: 20px;
  margin: 5px;
}

label {
  font-size: calc(3px + 1vmin);
}

.link-style {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: blue;
  cursor: pointer;
  font: inherit;
  text-align: left;
  font-size: .75em;
}

.link-style + .link-style::before {
  content: "|";
  margin: 0 8px;
  color: gray;
}

p {
  font-size: .85em;
  margin: 0 10%;
  text-align: left;
}

.navigation-container {
  margin-top: 10px
}